# MacOs Files
.DS_Store
.Spotlight-V100
.Trashes
._*

# Windows Files
Thumbs.db
ehthumbs.db
Desktop.ini

# Eclipse Files
.project
.metadata
.classpath
.settings/
.loadpath

# IntelliJ Files
.idea/
*.iml
*.iws

# Node Package Manager
node_modules/
**/npm-debug.log
coverage/
tmp/

# Application specific
server
